<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Layout input</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="../static/cover.css" rel="stylesheet">
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Forward Picking Zone Analysis Tool</h3>
            <nav class="nav nav-masthead">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/forecast-in">Order Forecast Model</a>
                <a class="nav-link" href="/abc_in">ABC Analysis</a>
                <a class="nav-link active" href="/layout-in">Layout Model</a>
                <a class="nav-link" href="/about">Contact</a>
            </nav>
        </div>
    </header>

    <h1>
        Layout Model Input
    </h1>
    <br/>
    <br/>

    <style>
        .text_box_input {
            text-align: left;
        }

        .input_text_box {
            width: 100px;
            margin-left: 100px;
        }

    </style>


    <div class="form-wrapper">
        <form action="/layout" method="POST" class="layout-form">
            <table class="input_table">
                <tr class="text_box_input">
                    <td class="input_text_name"><label for="smin">Savings in minutes when a pallet is picked from the
                        forward <br/>
                        area rather than from the bulk-storage area:</label></td>
                    <td class="input_text_box"><input type="text" id="smin" name="smin" value="2"></td>
                </tr>
                <tr class="text_box_input">
                    <td class="input_text_name"><label for="cr">Minutes required by each restock of the forward
                        area:</label>
                    </td>
                    <td class="input_text_box"><input type="text" id="cr" name="cr" value="2"></td>
                </tr>
                <tr class="text_box_input">
                    <td class="input_text_name"><label for="numloc">Number of forward pick locations available:</label>
                    </td>
                    <td class="input_text_box"><input type="text" id="numloc" name="numloc"></td>
                </tr>
                <tr class="text_box_input">
                    <td class="input_text_name"><label for="xcoord">X coordinate of outbound exit in
                        warehouse:</label></td>
                    <td class="input_text_box"><input type="text" id="xcoord" name="xcoord" value="-16"></td>
                </tr>
                <tr class="text_box_input">
                    <td class="input_text_name"><label for="ycoord">Y coordinate of outbound exit in
                        warehouse:</label></td>
                    <td class="input_text_box"><input type="text" id="ycoord" name="ycoord" value="2"></td>
                </tr>
                <tr class="text_box_input">
                    <td class="input_text_name"><label for="Hlength">Length in meters of the horizontal distance of a
                        pallet:</label></td>
                    <td class="input_text_box"><input type="text" id="Hlength" name="Hlength" value="1.2"></td>
                </tr>
                <tr class="text_box_input">
                    <td class="input_text_name"><label for="Vlength">Length in meters of the vertical distance of a
                        pallet:</label></td>
                    <td class="input_text_box"><input type="text" id="Vlength" name="Vlength" value="0.8"></td>
                </tr>
            </table>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit" style="width: 200px">Submit</button>

        </form>
    </div>
    <br/>


    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Developed by <a href="https://www.linkedin.com/in/kaiwen-kevin-luo-2893aa17b/">@Kaiwen Luo</a>,
                <a href="https://www.linkedin.com/in/diego-fernandez-padron/">@Diego Fernandez</a>.
            </p>
        </div>
    </footer>
</div>
</body>
</html>
