<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABC Analysis Output</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>

<h1>
    ABC Analysis Tool
</h1>
<!--Menu-->
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/forecast-in">Order Forecast Model</a></li>
    <li><a href="/abc_in">ABC Analysis</a></li>
    <li><a href="/layout-in">Layout Model</a></li>
    <li style="float:right"><a href="/about">About</a></li>
</ul>

<br/>
<br/>
    <table>
        <tr class="text_box_input">
            <th class="input_text_name">All Product Distribution</th>
            <th class="input_text_name">All Product Pie Chart</th>
        </tr>
        <tr class="text_box_input">
            <td class="input_text_box">
                <img src={{img_path}}HistBox_B.png style="width: 450px;" alt="User Image">
            </td>
                        <td class="input_text_box">
                <img src={{img_path}}Pie.png style="width: 450px;" alt="User Image">
            </td>
        </tr>
    </table>
<br/>
<br/>

    <table>
        <tr class="text_box_input">
            <th class="input_text_name">A Class</th>
            <th class="input_text_name">B Class</th>
            <th class="input_text_name">C Class</th>
        </tr>
        <tr class="text_box_input">
            <td class="input_text_box">
                <img src={{img_path}}HistBox_A.png style="width: 450px;" alt="User Image">
            </td>
            <td class="input_text_box">
                <img src={{img_path}}HistBox_B.png style="width: 450px;" alt="User Image">
            </td>
            <td class="input_text_box">
                <img src={{img_path}}HistBox_C.png style="width: 450px;" alt="User Image">
            </td>
        </tr>


    </table>
<br/>
<br/>

</body>
</html>