<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABC Analysis</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<h1>
    ABC Analysis Tool
</h1>
<!--Menu-->
<!--Menu-->
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/forecast-in">Order Forecast Model</a></li>
    <li><a href="/abc_in">ABC Analysis</a></li>
    <li><a href="/layout-in">Layout Model</a></li>
    <li style="float:right"><a href="/about">About</a></li>
</ul>

<br/>
<br/>


<form action="/abc_out" method="POST">
    <table>
        <tr class="text_box_input">
            <td class="input_text_name" colspan="2"><label for="methods">Methods that used for Analysis:</label></td>
            <td class="input_text_box">
                <select class="method_select" name="methods" id="methods">
                    <option value="quantile">quantile</option>
                    <option value="value">value</option>
                    <option value="moves">moves</option>
                </select>
            </td>

        </tr>
        <tr class="text_box_input">

            <td class="input_text_name" colspan="2"><label for="time">Time scale for ABC analysis (month):</label></td>
            <td class="input_text_box"><input type="text" id="time" name="time"></td>
        </tr>


        <tr class="text_box_input">
            <td class= "input_text_name" rowspan="3"><label for="valueA">Split quantile ratio(value) of ABC analysis:</label></td>
            <td class="input_text_name">A</td>
            <td class="input_text_box"><input type="text" id="valueA" name="valueA" value="0.2"></td>
        </tr>
        <tr class="text_box_input">
            <td class="input_text_name"><label for="valueB">B</label></td>
            <td class="input_text_box"><input type="text" id="valueB" name="valueB" value="0.3"></td>
        </tr>
        <tr class="text_box_input">
            <td class="input_text_name"><label for="valueC">C</label></td>
            <td class="input_text_box"><input type="text" id="valueC" name="valueC" value="0.5"></td>
        </tr>


        <tr>
            <td></td>
            <td><input class="submit_button" type="submit" value="Submit"></td>
        </tr>
    </table>


</form>

</body>
</html>