<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SKU analysis tool</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
<body>
<h1>
    Forecast Model Input
</h1>

<!--    Menu-->
<!--Menu-->
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/forecast-in">Order Forecast Model</a></li>
    <li><a href="/abc_in">ABC Analysis</a></li>
    <li><a href="/layout-in">Layout Model</a></li>
    <li style="float:right"><a href="/about">About</a></li>
</ul>

<br/>
<br/>

<form action="/forecast-out" method="POST">
    <table>
        <tr class="input_text_name">
            <th class= "name" rowspan="5"> Kaiwen Luo</th>
        </tr>
        <tr class="text_box_input">
            <td class="intro">Email</td>
            <td class="intro_text">kluo37@gatech.edu</td>
        </tr>
        <tr class="text_box_input">
            <td class="intro">Major</td>
            <td class="intro_text">Master in Industrial Engineering <br/> Master in Computational Science and
                Engineering
            </td>
        </tr>
        <tr class="text_box_input">
            <td class="intro">School</td>
            <td class="intro_text">Industrial and System Engineering</td>
        </tr>
        </tr>
        <tr class="text_box_input">
            <td class="intro">University </td>
            <td class="intro_text">Georgia Institute of Technology</td>
        </tr>


    </table>

        <table>
        <tr class="input_text_name">
            <th class= "name" rowspan="5"> Diego </th>
        </tr>
        <tr class="text_box_input">
            <td class="intro">Email</td>
            <td class="intro_text">XX</td>
        </tr>
        <tr class="text_box_input">
            <td class="intro">Major</td>
            <td class="intro_text">XX</td>
        </tr>
        <tr class="text_box_input">
            <td class="intro">School</td>
            <td class="intro_text">Industrial and System Engineering</td>
        </tr>
        </tr>
        <tr class="text_box_input">
            <td class="intro">University </td>
            <td class="intro_text">Georgia Institute of Technology</td>
        </tr>

    </table>


</form>

</body>
</html>