<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Contact</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="../static/cover.css" rel="stylesheet">
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Forward Picking Zone Analysis Tool</h3>
            <nav class="nav nav-masthead">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/forecast-in">Order Forecast Model</a>
                <a class="nav-link" href="/abc_in">ABC Analysis</a>
                <a class="nav-link" href="/layout-in">Layout Model</a>
                <a class="nav-link  active" href="/about">Contact</a>
            </nav>
        </div>
    </header>
    <br/>
    <br/>
    <h1>
        Contact
    </h1>
    <br/>
    <br/>

    <style>
        .text_box_input {
            text-align: left;
        }

        .input_text_box {
            width: 100px;
            margin-left: 100px;
        }

    </style>


    <!--    <div class="form-wrapper">-->
    <table class="about"  border="1" cellspacing="0" >
        <tr class="text_box_input" >
            <th class="intro" rowspan="5"> Kaiwen Luo</th>
        </tr>
        <tr class="text_box_input">
            <td class="intro">Email</td>
            <td class="intro">kluo37@gatech.edu</td>
        </tr>
        <tr class="text_box_input">
            <td class="intro">Major</td>
            <td class="intro">Master in Industrial Engineering <br/> Master in Computational Science and
                Engineering
            </td>
        </tr>
        <tr class="text_box_input">
            <td class="intro">Department</td>
            <td class="intro">Industrial and System Engineering</td>
        </tr>
        <tr class="text_box_input">
            <td class="intro">University</td>
            <td class="intro">Georgia Institute of Technology</td>
        </tr>

        <tr class="text_box_input">
            <td class="intro" style="border: none"></td>
            <td class="intro" style="border: none"></td>
        </tr>
                <tr class="text_box_input">
            <td class="intro" style="border: none"></td>
            <td class="intro" style="border: none"></td>
        </tr>

        <tr class="text_box_input">
            <td class="intro" rowspan="5"> Diego</td>
        </tr>
        <tr class="text_box_input">
            <td class="intro">Email</td>
            <td class="intro">XX</td>
        </tr>
        <tr class="text_box_input">
            <td class="intro">Major</td>
            <td class="intro">XX</td>
        </tr>
        <tr class="text_box_input">
            <td class="intro">Department</td>
            <td class="intro">Industrial and System Engineering</td>
        </tr>
        <tr class="text_box_input">
            <td class="intro">University</td>
            <td class="intro">Georgia Institute of Technology</td>
        </tr>

    </table>

    <br/>
    <br/><br/>
    <br/>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Developed by <a href="https://www.linkedin.com/in/kaiwen-kevin-luo-2893aa17b/">@Kaiwen Luo</a>, <a
                    href="">@Diego</a>.
            </p>
        </div>
    </footer>
</div>
</body>
</html>
