<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SKU analysis tool</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  <body>
    <h1>
      Forecast Model Input
    </h1>

<!--    Menu-->
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/forecast-in">Order Forecast Model</a></li>
        <li><a href="#news">ABC Analysis</a></li>
        <li><a href="/layout-in">Layout Model</a></li>

        <li style="float:right"><a href="#about">About</a></li>
    </ul>

    <br />
    <br />

    <form action = "/forecast-out" method="POST">
      <table>
        <tr class="text_box_input">
          <td class="input_text_name"><label for="Artikelno">Artikel to be forecasted:</label></td>
          <td class="input_text_box"><input type="text" id="Artikelno" name="Artikelno" value="142"></td>
        </tr>
        <tr class="text_box_input">
          <td class="input_text_name"><label for="hist_periods">Number of days of historical data:</label></td>
          <td class="input_text_box"><input type="text" id="hist_periods" name="hist_periods"></td>
        </tr>
        <tr class="text_box_input">
          <td class="input_text_name"><label for="freq">Forecast frequency: Daily(D); Monthly(M); Yearly(Y)</label></td>
          <td class="input_text_box"><input type="text" id="freq" name="freq" value="D"></td>
        </tr>
        <tr class="text_box_input">
          <td class="input_text_name"><label for="fore_periods">Forecast periods (related to what frequency you choose):</label></td>
          <td class="input_text_box"><input type="text" id="fore_periods" name="fore_periods" value="365"></td>
        </tr>

        <tr>
          <td></td>
          <td><input class = "submit_button" type="submit" value="Submit"></td>
        </tr>
      </table>
        
    
    </form>

  </body>
</html>