<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forward Picking Zone Analysis Tool - Homepage</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<h1>
    Forward Picking Zone Analysis Tool
</h1>

<!--Menu-->
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/forecast-in">Order Forecast Model</a></li>
    <li><a href="/abc_in">ABC Analysis</a></li>
    <li><a href="/layout-in">Layout Model</a></li>
    <li style="float:right"><a href="/about">About</a></li>
</ul>
</body>
</html>