body {
    font-family: courier;
    background-color: green;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
}

/* input {
    background: none;
    font-family: courier;
    font-size: 1.1em;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
} */
h1 {
    text-align: center;
    font-size: 5em;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.prod_aisle, .sku, .row_num {
    border: 1px solid black;
    border-collapse: collapse;
}

th, .row_num {
    padding: 15px;
    font-size: 1.5em;
    font-weight: bolder;
}

.sku {
    padding: 10px;
    background-color: #7FFFD4;
}

.prod_aisle, .row_num {
    background-color: #FDDF95;
}

.text_box_input, .input_text_name, .input_text_box, .intro {
    border: 1px solid black;
}

.input_text_name {
    font-weight: bolder;
    background-color: #FDDF95;
}

.submit_button {
    font-weight: bolder;
    font-size: 1.5em;
}

.intro {
    border: 1px solid black;
    font-weight: bolder;
    background-color: #FDDF95;
    width: 70px;
    padding: 10px;
}

.intro_text {
    border: 1px solid black;
    font-weight: bolder;
    background-color: #FDDF95;
    width: 600px;
    padding: 10px;
}
.name {
    border: 1px solid black;
    font-weight: bolder;
    background-color: #FDDF95;
    width: 200px;
    padding: 10px;
}